.pres{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(/public/fondfinal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.72);
    font-size: 50px;
}
.pres h3{
    font-size: 19px;
    color: white;
    text-align: center;
    width: 80%;
}
.pres h1{
    color: white;
    font-weight: 500;
}
.variantebouton{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

@media screen and (max-width :800px){

    .pres h3{
        width: 450px;
    }

    .pres h1{
        text-align: center;
        width: 350px;

    }

}
@media screen and (max-width :438px){

    .pres h3{
        width: 300px;
    }

    .pres h1{
        text-align: center;
        width: 350px;
    }

}