.boutonsecondaire{
    border: solid white;
    width: 26vw;
    border-radius: 1.1rem;
}
.boutonsecondaire h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    width: 20vw;
    margin: auto;
}
a{
    text-decoration: none;
}

@media screen and (max-width:433px){
    .boutonsecondaire h3{
        width: 26vw;
        font-size: 15px;
    }


}