.boutonprimaire{
    background-color: white;
    border: solid white;
    width: 26vw;
    border-radius: 1.1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.2s;
}

.boutonprimaire h3{
    color: #1E1E1E;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    width: 20vw;
    margin: auto;
}
@media screen and (max-width:433px){
    .boutonprimaire h3{
        width: 25vw;
        font-size: 15px;


    }
}